<html>
    <head>
        <title>Callback</title>
    </head>
    <body>
        Loading ...
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                localStorage.setItem('musitAccessToken', "<%= user.accessToken %>");
                localStorage.setItem('musitUserId', "<%= user.userId %>");
                localStorage.setItem('musitUserName', "<%= user.name %>");
                localStorage.setItem('musitUserAvatar', "<%= user.photos[0] %>");
                localStorage.setItem('musitUserEmail', "<%= user.emails[0] %>");
                window.close();
            });
        </script>
    </body>
</html>